
body {
    background-color: #f2f1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.album-art {
    width: 600px;
    height: 600px;
    background-color:#221e1f;
    overflow: hidden;
    position: relative;
}
  
.geometry {
    aspect-ratio: 4/1;
    border: 0px solid;
    background-color: #f2f1ef;
    transform: rotate(-45deg) translateX(-430px) translatey(160px);
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #ed1c24;
    border-radius: 50%;
    transform: translateX(350px) translatey(-30px);
}